= render "header"

:javascript
  console.log('like');
  
.galleries
  %h2.recipe みんなのレシピ
  :javascript
    console.log('test');
  .wrapper
  - @posts.each do |post|
    %ul.index-gallery
      %li.index-gallery__photo
        = link_to post_path(post.id) do
          = image_tag post.image.to_s
      -if user_signed_in?    
        %li.index-gallery__user--name
          = link_to mypage_path(post.user) do
            = post.user.name
          = render partial: 'likes/like', locals: { post: post, likes: @likes}
      -else 
        %li.index-gallery__user--name
          = post.user.name
          
  = paginate(@posts)
= render "footer"



